body {
    margin: 20px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #003049;
    color: #CED4DA;
    border-bottom: 10px solid #D62828;
        


.border-blue {
    border: 1px dotted blue;
}

